---
import { className } from "@/components/Button";
---

<section class="mt-10 mx-4 flex flex-col justify-center items-center" id="aboutme">
  <article class="w-full border-2 border-primary rounded-md overflow-hidden shadow-md shadow-gray-400 md:w-[80%] ">
    <header
    class="w-full flex justify-start items-center flex-row gap-2 bg-primary p-2"
  >
    <div class="bg-red-600 w-5 h-5 rounded-full"></div>
    <div class="bg-yellow-400 w-5 h-5 rounded-full"></div>
    <div class="bg-green-500 w-5 h-5 rounded-full"></div>
  </header>
  <div class="flex md:flex-row flex-col gap-4 justify-center items-center p-3">
    <article class="p-2 bg-background flex flex-col gap-8 md:w-[60%] md:order-1 order-2">
      <h3 class="font-semibold font-Oswal text-4xl text-secondary">About me</h3>
      <p class="text-base font-Poppins text-justify">
        Hello!👋 I am <strong
          class="text-secondary tracking-wider font-semibold text-lg"
          >Leiner Hoyos</strong
        >, a junior web developer from Colombia, 21 years old and 3 years of experience in web development. I study systems engineering, I have knowledge of various technologies, both frontend and backend.
      </p>
      <p class="text-base font-Poppins text-justify">
        <strong class="font-semibold">My objective</strong>🏅 is to empower people to achieve their dreams through web development.
      </p>
      <p class="text-base font-Poppins text-justify">
        I consider myself 💻 <strong class="font-semibold">worker</strong>, <strong
          class="font-semibold"
          >friendly and enjoy working as a team🎆.</strong>I have skills to <strong class="font-semibold">resolve the problems</strong> and I'm <strong class="font-semibold">autodidact.</strong>
      </p>
    </article>

    <div
    class="lg:w-72 lg:h-72 md:h-64 md:w-64 w-56 h-56 rounded-full flex items-center justify-center overflow-hidden border-2 border-primary md:order-2 order-1 shadow-md shadow-gray-400"
  >
    <img
      src="/leinerhc.png"
      alt="leiner hoyos"
      class="w-full object-cover h-auto"
    />
  </div>
  </div>
  <footer class="w-full flex items-center justify-center p-3">
    <button class={className} id="descargarBtn">Download CV</button>
  </footer>
  </article>
</section>
<script>
  const buttonDescarga = document.getElementById("descargarBtn") as HTMLElement;
  buttonDescarga.addEventListener("click", function () {
    var urlPdf = "/HOJA DE VIDA LEINER DAVID HOYOS CABRERA 1.pdf";

    var nombreArchivo = "HOJA DE VIDA LEINER DAVID HOYOS CABRERA.pdf";

    var linkDescarga = document.createElement("a");
    linkDescarga.href = urlPdf;
    linkDescarga.download = nombreArchivo;

    document.body.appendChild(linkDescarga);
    linkDescarga.click();

    document.body.removeChild(linkDescarga);
  });
</script>
