<footer class="mt-10 bg-primary flex flex-col justify-center gap-3 p-5 rounded-tr-md rounded-tl-md">
  <div class="flex md:flex-row flex-col gap-5 p-3 justify-between items-center">
    <div class="flex flex-col gap-3 justify-center md:items-start items-center  md:w-1/2 w-full">
      <a href="/" class="flex gap-3  items-center justify-center text-[46px] w-max">
        <span class="text-[1em] text-secondary font-Poppins">{"{"}</span>
        <div class="flex flex-col items-center justify-center">
          <h2
            class="whitespace-nowrap text-[0.5em] font-Oswal font-bold tracking-wider text-background"
          >
            LHDEV
          </h2>
          <span class="text-secondary text-[0.25em] font-Poppins font-light"
            >Desarrolador Web</span
          >
        </div>
        <span class="text-[1em] text-secondary font-Poppins">{"}"}</span>
      </a>
      <p class="text-background font-semibold text-2xl sm:text-3xl md:text-4xl lg:text-5xl md:max-w-lg w-full md:text-start text-center">
        ¿TIENES UN PROYECTO? ESTOY DISPONIBLE VAMOS A HABLAR.
      </p>
    </div>
    <div class="flex flex-col justify-center items-center md:w-1/2 w-full gap-3 p-2">
      <h4 class="text-4xl text-secondary font-semibold font-Oswal">Sígueme</h4>
      <ul class="flex gap-3 justify-center items-center">
        <li class="bg-background w-[42px] h-[42px] grid place-content-center rounded-full">
          <a
            href="https://www.facebook.com/leinerdavid.hoyoscabrera.10"
            class="bg-primary rounded-full w-[42px] h-[42px] flex items-center justify-center text-background hover:bg-secondary transition-all duration-300 hover:translate-x-[-0.4em] hover:translate-y-[-0.4em] active:translate-x-[-0.2em] active:translate-y-[-0.2em] border border-background"
            target="_blank"
          >
            <i class="bx bxl-facebook text-4xl"></i>
          </a>
        </li>
        <li class="bg-background w-[42px] h-[42px] grid place-content-center rounded-full">
          <a href="https://github.com/leinerdavidhc" class="bg-primary rounded-full w-[42px] h-[42px] flex items-center justify-center text-background hover:bg-secondary transition-all duration-300 hover:translate-x-[-0.4em] hover:translate-y-[-0.4em] active:translate-x-[-0.2em] active:translate-y-[-0.2em] border border-background" target="_blank">
            <i class="bx bxl-github text-4xl"></i>
          </a>
        </li>

        <li class="bg-background w-[42px] h-[42px] grid place-content-center rounded-full">
          <a href="https://www.instagram.com/leinerhoyos_/" 
          class="bg-primary rounded-full w-[42px] h-[42px] flex items-center justify-center text-background hover:bg-secondary transition-all duration-300 hover:translate-x-[-0.4em] hover:translate-y-[-0.4em] active:translate-x-[-0.2em] active:translate-y-[-0.2em] border border-background"
          target="_blank">
            <i class="bx bxl-instagram text-4xl"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-full p-2 h-10 flex justify-center items-center border-t border-background">
   <h2 class="text-background text-xl"> © Copyright 2023 creado por Leinerhc </h2>
  </div>
</footer>
