
<section
  class="w-full flex items-center justify-center flex-col gap-10 p-4 mt-10"
>
  <article class="flex flex-col items-center justify-center gap-3 text-center">
    <h1 class="md:text-4xl text-2xl sm:text-3xl text-center font-Oswal  animate-bounce">
      Hello! I'm Leiner Hoyos👋
    </h1>
    <h2 class="md:text-5xl sm:text-4xl text-3xl text-center font-bold">
      Full Stack Web Developer
    </h2>
    <p
      class="font-Poppins sm:w-[90%] md:w-[80%] lg:w-[70%] w-full text-center md:text-lg text-base"
    >
    A passionate web developer with experience in a variety of modern technologies
      <q class="font-semibold text-base"
        >Your dream reaches infinite space.</q
      >
    </p>
  </article>
  <ul class="flex gap-10 items-center justify-center p-2">
    <li class="bg-primary border border-primary rounded-md">
      <a
        href="#proyectos"
        class="bg-background p-2 block rounded-md text-2xl font-Montserrat font-semibold border-primary border hover:bg-secondary hover:text-background hover:translate-x-[0.3em] hover:translate-y-[-0.3em] transition-all duration-300 active:translate-x-[0.2em] active:translate-y-[-0.2em]"
        >Projects</a
      >
    </li>

    <li class="bg-primary border border-primary rounded-md">
      <a
        href="#contacto"
        class="bg-background p-2 block rounded-md text-2xl font-Montserrat font-semibold border-primary border hover:bg-secondary hover:text-background hover:translate-x-[0.3em] hover:translate-y-[-0.3em] transition-all duration-300 active:translate-x-[0.2em] active:translate-y-[-0.2em]"
        >Contact</a
      >
    </li>
  </ul>
</section>
