<section class="my-10 w-full p-4 flex flex-col gap-10">
  <article class="flex flex-col gap-3">
    <h3 class="text-secondary text-4xl font-Oswal font-semibold">
      Experience
    </h3>
    <article class="flex gap-4">
      <span class="timeline"></span>
      <div class="flex flex-col gap-2">
        <h4 class="font-semibold text-2xl">
          Front-End Developer <span class="text-secondary">@Gesat</span>
        </h4>
        <span class="text-gray-400 text-sm font-Poppins"
          >Jan 2023 - Aug 2023 | Riohacha, Colombia</span
        >
        <p class="md:w-[80%] text-justify font-Poppins">
          During my time at Gesat, from January to August 2023, I held the role
          of frontend developer on <span
            class="text-secondary font-semibold">three crucial projects</span
          > related to social investments for indigenous communities. My contribution focused on designing and developing user interfaces, working in multidisciplinary teams to implement innovative web solutions.
        </p>
        <span class="text-gray-400 text-sm font-Poppins">Technologies: JavaScript 路 React 路 Tailwindcss 路 Express 路 Mongodb</span>
      </div>
      
    </article>
  </article>
  <article class="flex flex-col">
    <h3 class="text-secondary text-4xl font-Oswal font-semibold">
      Education
    </h3>

    <article class="flex gap-4">
      <span class="timeline"></span>
      <div class="flex flex-col gap-2 pb-5">
        <h4 class="font-semibold text-2xl">
          High School Graduate <span class="text-secondary">@Educational Institution Luis A. Robles</span>
        </h4>
        <span class="text-gray-400 text-sm font-Poppins"
          >Feb 2014 - Dec 2019 | Camarones, Colombia</span
        >
      </div>
    </article>
    <article class="flex gap-4">
        <span class="timeline"></span>
        <div class="flex flex-col gap-2 pb-5">
          <h4 class="font-semibold text-2xl">
            Systems Engineering<span class="text-secondary"> @University of the Guajira</span>
          </h4>
          <span class="text-gray-400 text-sm font-Poppins">2020 - Present | Riohacha, Colombia</span>
        </div>
  </article>
    <article class="flex gap-4">
        <span class="timeline"></span>
        <div class="flex flex-col gap-2 pb-5">
          <h4 class="font-semibold text-2xl">
            Advanced Java SE Course<span class="text-secondary"> @University of the Guajira, @Platzi</span>
          </h4>
          <span class="text-gray-400 text-sm font-Poppins"
            >Apr 2022 - May 2022 | Riohacha, Colombia</span
          >
        </div>
      </article>
      
</article>
</section>
