<section class="my-10 w-full p-4 flex flex-col gap-10 ">
  <article class="flex flex-col gap-3">
    <h3 class="text-secondary text-4xl font-Oswal font-semibold">
      Experiencia
    </h3>
    <article class="flex gap-4">
      <span class="timeline"></span>
      <div class="flex flex-col gap-2">
        <h4 class="font-semibold text-2xl">
          Desarrollador Front-End <span class="text-secondary">@Gesat</span>
        </h4>
        <span class="text-gray-400 text-sm font-Poppins"
          >ene. 2023 - ago. 2023 | Riohacha, Colombia</span
        >
        <p class="md:w-[80%] text-justify font-Poppins">
          Durante mi período en Gesat, de enero a agosto de 2023, ocupé el rol
          de desarrollador frontend en <span
            class="text-secondary font-semibold">tres proyectos</span
          > cruciales relacionados con inversiones sociales para comunidades
          indígenas. Mi contribución se enfocó en diseñar y desarrollar
          interfaces de usuario, trabajando en equipos multidisciplinarios para
          implementar soluciones web innovadoras.
        </p>
        <span class="text-gray-400 text-sm font-Poppins">Tecnologías: JavaScript · React · Tailwindcss · Express · Mongodb</span>
      </div>
      
    </article>
  </article>
  <article class="flex flex-col">
    <h3 class="text-secondary text-4xl font-Oswal font-semibold">
      Educación
    </h3>

    <article class="flex gap-4">
      <span class="timeline"></span>
      <div class="flex flex-col gap-2 pb-5">
        <h4 class="font-semibold text-2xl">
          Bachiller <span class="text-secondary">@Institucion Educactiva Luis A. Robles</span>
        </h4>
        <span class="text-gray-400 text-sm font-Poppins"
          >feb. 2014 - dic. 2019 | Camarones, Colombia</span
        >
      </div>
    </article>
    <article class="flex gap-4">
        <span class="timeline"></span>
        <div class="flex flex-col gap-2 pb-5">
          <h4 class="font-semibold text-2xl">
            Ingeniería de sistemas<span class="text-secondary"> @Universidad de la Guajira</span>
          </h4>
          <span class="text-gray-400 text-sm font-Poppins">2020 - Actualmente | Riohacha, Colombia</span>
        </div>
  </article>
    <article class="flex gap-4">
        <span class="timeline"></span>
        <div class="flex flex-col gap-2 pb-5">
          <h4 class="font-semibold text-2xl">
            Curso Avanzado de Java SE<span class="text-secondary"> @Universidad de la Guajira, @Platzi</span>
          </h4>
          <span class="text-gray-400 text-sm font-Poppins"
            >abr. 2022 - may. 2022 | Riohacha, Colombia</span
          >
        </div>
      </article>
      
</article>
</section>
